In [3]:
pip install plotly

Note: you may need to restart the kernel to use updated packages.Collecting plotly
  Downloading plotly-5.23.0-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from plotly) (8.5.0)
Requirement already satisfied: packaging in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from plotly) (24.1)
Downloading plotly-5.23.0-py3-none-any.whl (17.3 MB)
   ---------------------------------------- 0.0/17.3 MB ? eta -:--:--
    --------------------------------------- 0.3/17.3 MB ? eta -:--:--
   - -------------------------------------- 0.8/17.3 MB 2.6 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/17.3 MB 2.7 MB/s eta 0:00:06
   ---- ----------------------------------- 2.1/17.3 MB 2.9 MB/s eta 0:00:06
   ------ --------------------------------- 2.9/17.3 MB 3.1 MB/s eta 0:00:05
   ------- -------------------------------- 3.4/17.3 MB 3.0 MB/s eta 0:00:05
   -------- ------------------------------- 3.7/17.3 MB 3.0 MB/s eta 0:00:05
   ---------- ----------------------------- 4.5/17.3 MB 2.8 MB/s eta 0:00:05
   ----------- ---------------------------- 5.0/17.3 MB 2.8 MB/s eta 0:00:05
   ------------- -------------------------- 5.8/17.3 MB 2.8 MB/s eta 0:00:05
   --------------- ------------------------ 6.8/17.3 MB 3.0 MB/s eta 0:00:04
   ------------------ --------------------- 7.9/17.3 MB 3.1 MB/s eta 0:00:04
   ------------------ --------------------- 8.1/17.3 MB 3.1 MB/s eta 0:00:03
   ------------------- -------------------- 8.7/17.3 MB 3.0 MB/s eta 0:00:03
   --------------------- ------------------ 9.4/17.3 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 10.2/17.3 MB 3.0 MB/s eta 0:00:03

   ------------------------- -------------- 11.0/17.3 MB 3.1 MB/s eta 0:00:03
   --------------------------- ------------ 11.8/17.3 MB 3.1 MB/s eta 0:00:02
   --------------------------- ------------ 12.1/17.3 MB 3.1 MB/s eta 0:00:02
   ----------------------------- ---------- 12.6/17.3 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 13.1/17.3 MB 3.0 MB/s eta 0:00:02
   ------------------------------- -------- 13.6/17.3 MB 3.0 MB/s eta 0:00:02
   --------------------------------- ------ 14.4/17.3 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 14.9/17.3 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 16.0/17.3 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 16.5/17.3 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  17.3/17.3 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  17.3/17.3 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  17.3/17.3 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 17.3/17.3 MB 2.8 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-5.23.0

In [2]:
pip install selenium

Collecting selenium
  Using cached selenium-4.23.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.2)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.26.2-py3-none-any.whl.metadata (8.6 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Using cached trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from selenium) (2024.7.4)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from selenium) (4.12.2)
Collecting websocket-client~=1.8 (from selenium)
  Using cached websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: attrs>=23.2.0 in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Collecting sortedcontainers (from trio~=0.17->selenium)
  Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: idna in c:\users\prathee\desktop\redbus\.venv\lib\site-packages (from trio~=0.17->selenium) (3.7)
Collecting outcome (from trio~=0.17->selenium)
  Using cached outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Using cached sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting cffi>=1.14 (from trio~=0.17->selenium)
  Downloading cffi-1.17.0-cp312-cp312-win_amd64.whl.metadata (1.6 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Using cached wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Using cached PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Collecting pycparser (from cffi>=1.14->trio~=0.17->selenium)
  Using cached pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Using cached h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Using cached selenium-4.23.1-py3-none-any.whl (9.4 MB)
Downloading trio-0.26.2-py3-none-any.whl (475 kB)
Using cached trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Using cached websocket_client-1.8.0-py3-none-any.whl (58 kB)
Downloading cffi-1.17.0-cp312-cp312-win_amd64.whl (181 kB)
Using cached PySocks-1.7.1-py3-none-any.whl (16 kB)
Using cached sniffio-1.3.1-py3-none-any.whl (10 kB)
Using cached wsproto-1.2.0-py3-none-any.whl (24 kB)
Using cached outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Using cached pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: sortedcontainers, websocket-client, sniffio, pysocks, pycparser, outcome, h11, wsproto, cffi, trio, trio-websocket, selenium
Successfully installed cffi-1.17.0 h11-0.14.0 outcome-1.3.0.post0 pycparser-2.22 pysocks-1.7.1 selenium-4.23.1 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.26.2 trio-websocket-0.11.1 websocket-client-1.8.0 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# importing libraries
from selenium import webdriver
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [2]:
df = pd.read_csv(r'C:/Users/Prathee/Desktop/redbus/df.csv')
df

,Route_name,Route_link
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
2,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...
3,Visakhapatnam to Kakinada,https://www.redbus.in/bus-tickets/visakhapatna...
4,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...
...,...,...
333,Habra to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/habra-to-dur...
334,Barasat (West Bengal) to Mechogram,https://www.redbus.in/bus-tickets/barasat-west...
335,Habra to Haldia,https://www.redbus.in/bus-tickets/habra-to-haldia
336,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...
337,Habra to Midnapore,https://www.redbus.in/bus-tickets/habra-to-mid...

In [3]:
driver = webdriver.Chrome()
driver.maximize_window()
Bus_names = []
Bus_types= []
Start_Time = []
End_Time = []
Ratings = []
Total_Duration = []
Prices = []
Seats_Available = []
Route_names = []
Route_links = []

for i,r in df.iterrows():
    link=r["Route_link"]
    routes=r["Route_name"]

# Loop through each link
    driver.get(link)
    time.sleep(2)  

    # Click on elements to reveal bus details
    elements = driver.find_elements(By.XPATH, f"//a[contains(@href, '{link}')]")
    for element in elements:
        element.click()
        time.sleep(2)

    # click elements to views bus
    try:
        clicks = driver.find_element(By.XPATH, "//div[@class='button']")
        clicks.click()
    except:
        continue  
    time.sleep(2)
    
    # scrolling = True
    # while scrolling:
    #     old_page_source = driver.page_source
        
    #     # Use ActionChains to perform a PAGE_DOWN
    #     ActionChains(driver).send_keys(Keys.PAGE_DOWN).perform()
        
    #     time.sleep(5)  # Adjust sleep time as needed
        
    #     new_page_source = driver.page_source
        
    #     if new_page_source == old_page_source:
    #         scrolling = False
    def scroll_and_load(driver, scroll_pause_time=2):
    # Get scroll height
        last_height = driver.execute_script("return document.body.scrollHeight")

        while True:
            # Scroll down to the bottom
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
            
            # Wait for new content to load
            time.sleep(scroll_pause_time)
            
            # Get new scroll height and compare with the last scroll height
            new_height = driver.execute_script("return document.body.scrollHeight")
            if new_height == last_height:
                break
            last_height = new_height

    # Scroll and load content
    scroll_and_load(driver)

    # Extract bus details
    bus_name = driver.find_elements(By.XPATH, "//div[@class='travels lh-24 f-bold d-color']")
    bus_type = driver.find_elements(By.XPATH, "//div[@class='bus-type f-12 m-top-16 l-color evBus']")
    start_time = driver.find_elements(By.XPATH, "//*[@class='dp-time f-19 d-color f-bold']")
    end_time = driver.find_elements(By.XPATH, "//*[@class='bp-time f-19 d-color disp-Inline']")
    total_duration = driver.find_elements(By.XPATH, "//*[@class='dur l-color lh-24']")
    try:
        rating = driver.find_elements(By.XPATH,"//div[@class='clearfix row-one']/div[@class='column-six p-right-10 w-10 fl']")
    except:
        continue
    price = driver.find_elements(By.XPATH, '//*[@class="fare d-block"]')
    seats = driver.find_elements(By.XPATH, "//div[contains(@class, 'seat-left')]")

    # Append data to respective lists
    for bus in bus_name:
        Bus_names.append(bus.text)
        Route_links.append(link)
        Route_names.append(routes)
    for bus_type_elem in bus_type:
        Bus_types.append(bus_type_elem.text)
    for start_time_elem in start_time:
        Start_Time.append(start_time_elem.text)
    for end_time_elem in end_time:
        End_Time.append(end_time_elem.text)
    for total_duration_elem in total_duration:
        Total_Duration.append(total_duration_elem.text)
    for ratings in rating:
        Ratings.append(ratings.text)
    for price_elem in price:
        Prices.append(price_elem.text)
    for seats_elem in seats:
        Seats_Available.append(seats_elem.text)
        
print("Successfully Completed")

KeyboardInterrupt:

In [5]:
driver.quit()

In [6]:
data = {
    'Bus_name': Bus_names,
    'Bus_type': Bus_types,
    'Start_time': Start_Time,
    'End_time': End_Time,
    'Total_duration': Total_Duration,
    'Price': Prices,
    "Seats_Available":Seats_Available,
    "Ratings":Ratings,
    'Route_link': Route_links,
    'Route_name': Route_names
}

In [7]:
df = pd.DataFrame(data)
df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,18:05,06h 35m,INR 469,31 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,16:30,05h 00m,INR 670,44 Seats available,3.6\n44,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:00,20:20,08h 20m,INR 469,33 Seats available,2.5\n6,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,18:25,06h 10m,INR 720,37 Seats available,3.4\n70,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),12:30,20:05,07h 35m,INR 469,33 Seats available,2.0\n13,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...,...
5859,Royal Cruiser,Scania Multi-Axle AC Semi Sleeper (2+2),19:30,00:15,04h 45m,523,34 Seats available,3.9\n69,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5860,Beauty Travels,NON A/C Seater / Sleeper (2+2),20:20,00:30,04h 10m,INR 380,36 Seats available,3.0,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5861,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,00:30,06h 00m,INR 500,54 Seats available,,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5862,Maharani Travels,A/C Seater / Sleeper (2+1),21:05,02:00,04h 55m,760,24 Seats available,2.6,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5863,Tulsi Travel,NON A/C Seater / Sleeper (2+2),14:45,16:50,02h 05m,INR 899,61 Seats available,3.2,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

In [8]:
df.to_csv(r"C:/Users/Prathee/Desktop/redbus/all_bus_details.csv",index = False)

# Exploratory Data Analysis and Data Cleansing

In [9]:
import numpy as np

In [21]:
df = pd.read_csv(r'C:/Users/Prathee/Desktop/redbus/all_bus_details.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5864 entries, 0 to 5863
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         5363 non-null   object
 1   Bus_type         5361 non-null   object
 2   Start_time       5369 non-null   object
 3   End_time         5369 non-null   object
 4   Total_duration   5369 non-null   object
 5   Price            5369 non-null   object
 6   Seats_Available  5367 non-null   object
 7   Ratings          5369 non-null   object
 8   Route_link       5864 non-null   object
 9   Route_name       5864 non-null   object
dtypes: object(10)
memory usage: 458.2+ KB

In [23]:
df.head()

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,18:05,06h 35m,INR 469,31 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,16:30,05h 00m,INR 670,44 Seats available,3.6\n44,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:00,20:20,08h 20m,INR 469,33 Seats available,2.5\n6,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,18:25,06h 10m,INR 720,37 Seats available,3.4\n70,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),12:30,20:05,07h 35m,INR 469,33 Seats available,2.0\n13,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad

In [20]:
#Price have INR and it is a non numerical
df['Price'][0] #printing one element of rating

' 469'

In [24]:
df["Price"]=df["Price"].str.replace("INR ","") #Removing the INR 
#INR 469

In [25]:
df["Price"]=df["Price"].astype(float) #converting string to float
df["Price"].fillna(0) #if null values it will will with zero Treating null values

0       469.0
1       670.0
2       469.0
3       720.0
4       469.0
        ...
5859    523.0
5860    380.0
5861    500.0
5862    760.0
5863    899.0
Name: Price, Length: 5864, dtype: float64

In [29]:
df['Ratings']

0           4.0
1       3.6\n44
2        2.5\n6
3       3.4\n70
4       2.0\n13
         ...
5859    3.9\n69
5860        3.0
5861
5862        2.6
5863        3.2
Name: Ratings, Length: 5864, dtype: object

In [28]:
df ['Ratings'] = df['Ratings'].str.replace("New","")

In [30]:
# use excel filter to analyse the csv extracted file. Some of the ratings have formate of 5.1 30 
#format float int

In [31]:
df['Ratings'] = df['Ratings'].str.strip()

In [32]:
df.head()

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,18:05,06h 35m,469.0,31 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,16:30,05h 00m,670.0,44 Seats available,3.6\n44,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:00,20:20,08h 20m,469.0,33 Seats available,2.5\n6,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,18:25,06h 10m,720.0,37 Seats available,3.4\n70,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),12:30,20:05,07h 35m,469.0,33 Seats available,2.0\n13,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad

In [33]:
df.to_csv("checking.csv")

In [34]:
df["Ratings"]=df["Ratings"].str.split().str[0]

In [35]:
df.head()

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,18:05,06h 35m,469.0,31 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,16:30,05h 00m,670.0,44 Seats available,3.6,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:00,20:20,08h 20m,469.0,33 Seats available,2.5,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,18:25,06h 10m,720.0,37 Seats available,3.4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),12:30,20:05,07h 35m,469.0,33 Seats available,2.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad

In [36]:
df["Ratings"] = pd.to_numeric(df["Ratings"], errors='coerce') #try to convert to numeric and if fails fill with NaN (not a number)

In [37]:
df["Ratings"].fillna(0,inplace=True)

/var/folders/s3/w_ry2nkj7yg8gd7c39mx7xy00000gn/T/ipykernel_1809/533842216.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Ratings"].fillna(0,inplace=True)

In [38]:
df.head()

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,18:05,06h 35m,469.0,31 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,16:30,05h 00m,670.0,44 Seats available,3.6,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:00,20:20,08h 20m,469.0,33 Seats available,2.5,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,18:25,06h 10m,720.0,37 Seats available,3.4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),12:30,20:05,07h 35m,469.0,33 Seats available,2.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5864 entries, 0 to 5863
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         5363 non-null   object
 1   Bus_type         5361 non-null   object
 2   Start_time       5369 non-null   object
 3   End_time         5369 non-null   object
 4   Total_duration   5369 non-null   object
 5   Price            5369 non-null   float64
 6   Seats_Available  5367 non-null   object
 7   Ratings          5864 non-null   float64
 8   Route_link       5864 non-null   object
 9   Route_name       5864 non-null   object
dtypes: float64(2), object(8)
memory usage: 458.2+ KB

In [40]:
df = df.replace({np.nan: None})

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5864 entries, 0 to 5863
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         5363 non-null   object
 1   Bus_type         5361 non-null   object
 2   Start_time       5369 non-null   object
 3   End_time         5369 non-null   object
 4   Total_duration   5369 non-null   object
 5   Price            5369 non-null   object
 6   Seats_Available  5367 non-null   object
 7   Ratings          5864 non-null   float64
 8   Route_link       5864 non-null   object
 9   Route_name       5864 non-null   object
dtypes: float64(1), object(9)
memory usage: 458.2+ KB

In [43]:
df = df.dropna(subset=['Bus_name'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5363 entries, 0 to 5863
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         5363 non-null   object
 1   Bus_type         5361 non-null   object
 2   Start_time       5363 non-null   object
 3   End_time         5363 non-null   object
 4   Total_duration   5363 non-null   object
 5   Price            5363 non-null   object
 6   Seats_Available  5361 non-null   object
 7   Ratings          5363 non-null   float64
 8   Route_link       5363 non-null   object
 9   Route_name       5363 non-null   object
dtypes: float64(1), object(9)
memory usage: 460.9+ KB

In [45]:
df.to_csv("C:/Users/Prathee/Desktop/redbus/all_bus_details.csv")

In [48]:
df = df.fillna({'Bus_type':"unknown",'Seats_Available':0})

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5363 entries, 0 to 5863
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         5363 non-null   object
 1   Bus_type         5363 non-null   object
 2   Start_time       5363 non-null   object
 3   End_time         5363 non-null   object
 4   Total_duration   5363 non-null   object
 5   Price            5363 non-null   object
 6   Seats_Available  5363 non-null   object
 7   Ratings          5363 non-null   float64
 8   Route_link       5363 non-null   object
 9   Route_name       5363 non-null   object
dtypes: float64(1), object(9)
memory usage: 460.9+ KB

# MySQL Data storing

In [51]:
import mysql

In [53]:
import mysql.connector

In [54]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Saro@123",database="redbus")
my_cursor = conn.cursor()

In [55]:
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [56]:
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully